extends layout.pug

block title
    title 404 - File Not Found

block content
    .not-found-container
        h1 404
        p The requested page was not found.
        a.button.home-link(href="/") Go to Homepage
