doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/main.css")
        title In The Box
    body
        .not-found-container
            a(href="/about") File Not Found
